* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.bodyy {
  font-family: poppins;
  height: 100%;
  background: linear-gradient(
    to right,
    #ffff 0%,
    #ffff 55%,
    #9dc0f3 50%,
    #9dc0f3 100%
  );
}

@font-face {
  font-family: poppins;
  src: url(../../font/Poppins-Medium.ttf);
}

.tombold {
  background-color: #0d6efd;
  padding: 16px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}
.angka h1 {
  line-height: 55px;
}

.gambar img {
  /* max-width: 300px; */
  align-items: center;
}

.navbar {
  transition: all 0.5s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  /* position: fixed; */
  /* margin-bottom: 100px; */
  /* z-index: 3; */
}

.navbar.scrolling-active {
  background-color: white;
  padding: 15px 0 15px 0;
  /* height: 100%; */
  border-bottom: 1px solid silver;
}
@media screen and (max-width: 765px) {
  .section .container .row h1 {
    text-align: center;
    line-height: 45px;
  }
  .section .container .row p {
    text-align: center;
  }
  .section .container .row a {
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
  }
}



/* registrasi */

.bodyyy {
    /* background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 45%,
    #9dc0f3 50%,
    #9dc0f3 100%
  ); */
  /* background-color: #ebecf1; */
  border-radius:20px ;
}

/* end */